:root {
  --grey: #f1ecf7;
  --purple: #d43fff;
  --dark-grey: #433e4e;
  --dark-grey-50: #433e4e91;
  --white: #ffffff;
  --purple-degradee: linear-gradient(90deg, #a39de6 0%, #dec2e5 50%, #fff 100%);
  --white-degradee: linear-gradient(90deg, #fff 0%, #e3ceff 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  color: var(--dark-grey);
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  z-index: 2;
  -webkit-filter: drop-shadow(-2px -2px 2px #fff);
}

h3 {
  color: var(--purple);
  font-size: 20px;
  font-weight: 700;
}
